#container-density{
    width:70%;
    position:relative;
}
.layer{
    position:absolute;
    width:100%;
    padding:8px;
}
.upper{
    display:none;
}
.checkbox-outter-density{
    margin-left: 0px;
    margin-top: 5px;
    display: block;
    padding: 5px 5px 5px 5px;
    width: 60%;
    text-align: left;
    float: right;
}
#checkboxes-density {
    position: relative;
    width: 30%;
    float: left;
    margin-left: 0px;
    float: right;
}
